<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="/js/dashboard/csrf.js" defer></script>
    <script src="/js/dashboard/massActions.js" defer></script>
    <script src="/js/dashboard/rowButtons.js" defer></script>
    <script src="/js/dashboard/checkAll.js" defer></script>

    <title>KAYCHA | Dashboard</title>


</head>

<body>
    <%- include('modal.ejs') %>

        <%- include('navbar.ejs') %>



            <div class="my-container">
                <form action="/dashboard" method="GET">
                    <label for="search">Wyszukaj:</label>
                    <input type="text" id="search" name="search" placeholder="Szukaj...">

                    <label for="sortBy">Sortuj według:</label>
                    <select id="sortBy" name="sortBy">
                        <option value="timestamp">Data</option>
                        <option value="firstName">Imię</option>
                        <option value="lastName">Nazwisko</option>
                        <!-- Dodaj inne opcje sortowania -->
                    </select>

                    <label for="sortDirection">Kierunek sortowania:</label>
                    <input type="radio" id="ascending" name="sortDirection" value="asc">
                    <label for="ascending">Rosnąco</label>
                    <input type="radio" id="descending" name="sortDirection" value="desc" checked>
                    <label for="descending">Malejąco</label>

                    <button type="submit">Zastosuj</button>
                </form>
                <form id="actionForm">
                    <label for="action">Akcja:</label>
                    <select id="action" name="action">
                        <option value="export-csv">Eksportuj zaznaczone jako plik .csv</option>
                        <option value="export-eml">Eksportuj zaznaczone jako plik .eml</option>

                        <option value="delete">Usuń zaznaczone</option>
                    </select>
                    <button type="submit">Potwierdź</button>
                </form>
                <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
                <div class="tableContainer">
                    <table id="messagesTable">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="selectAll" />
                                    <label for="selectAll">Zaznacz wszystkie</label>
                                </th>
                                <th>Data</th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th>Numer telefonu</th>
                                <th>Email</th>
                                <th>Miejscowość</th>
                                <th>Ulica</th>
                                <th>Numer domu/mieszkania</th>
                                <th>Treść wiadomości</th>
                                <th>Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% messages.forEach(message=> { %>
                                <tr>
                                    <td>
                                        <input type="checkbox" class="messageCheckbox" data-id="<%= message.id %>" />
                                    </td>
                                    <td>
                                        <%= new Date(message.timestamp).toLocaleString() %>
                                    </td>
                                    <td>
                                        <%= message.firstName %>
                                    </td>
                                    <td>
                                        <%= message.lastName %>
                                    </td>
                                    <td>
                                        <%= message.phoneNumber %>
                                    </td>
                                    <td>
                                        <%= message.email %>
                                    </td>
                                    <td>
                                        <%= message.city %>
                                    </td>
                                    <td>
                                        <%= message.street %>
                                    </td>
                                    <td>
                                        <%= message.homeNumber %>
                                    </td>
                                    <td>
                                        <%= message.message.substring(0,100) %>...
                                    </td>
                                    <td>
                                        <a href="/dashboard/message-details/<%= message.id %>">Szczegóły</a>
                                        <button class="delete-button" data-id="<%= message.id %>">Usuń</button>
                                        <button class="send-button" data-id="<%= message.id %>">Wyślij na
                                            e-mail</button>

                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>

</body>

</html>