<!-- views/message-details.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły wiadomości</title>
    <link rel="stylesheet" href="/css/details.css">
    <link rel="stylesheet" href="/css/dashboard.css">

</head>

<body>
    <h1>Szczegóły wiadomości</h1>

    <div>
        <% if (message.firstName) { %>
            <p><strong>Imię:</strong> <%= message.firstName %></p>
        <% } %>
    
        <% if (message.lastName) { %>
            <p><strong>Nazwisko:</strong> <%= message.lastName %></p>
        <% } %>
    
        <% if (message.phoneNumber) { %>
            <p><strong>Numer telefonu:</strong> <%= message.phoneNumber %></p>
        <% } %>
    
        <% if (message.email) { %>
            <p><strong>Email:</strong> <%= message.email %></p>
        <% } %>
    
        <% if (message.city) { %>
            <p><strong>Miejscowość:</strong> <%= message.city %></p>
        <% } %>
    
        <% if (message.street) { %>
            <p><strong>Ulica:</strong> <%= message.street %></p>
        <% } %>
    
        <% if (message.homeNumber) { %>
            <p><strong>Nr domu:</strong> <%= message.homeNumber %></p>
        <% } %>
    
        <% if (message.loadingAddress) { %>
            <p><strong>Adres załadunku:</strong> <%= message.loadingAddress %></p>
        <% } %>

        <% if (message.unloadingAddress) { %>
            <p><strong>Adres rozładunku:</strong> <%= message.unloadingAddress %></p>
        <% } %>

        <% if (message.message) { %>
            <p><strong>Treść wiadomości:</strong> <%= message.message %></p>
        <% } %>
    
        <% if (message.timestamp) { %>
            <p><strong>Data i czas:</strong> <%= new Date(message.timestamp).toLocaleString() %></p>
        <% } %>
    
        <% if (message.ipAddress) { %>
            <p><strong>Adres IP z którego wysłano wiadomość:</strong> <%= message.ipAddress %></p>
        <% } %>
    
        <% if (message.portNumber) { %>
            <p><strong>Numer portu z którego wysłano wiadomość:</strong> <%= message.portNumber %></p>
        <% } %>
    
        
    </div>
    

    <a href="/dashboard/">Powrót do listy wiadomości</a>

    <!-- ... (inne elementy) -->
</body>

</html>